body {
    font-family: 'Avenir Black', sans-serif;
}

.box {
    height: 600px;
    width: auto;
    background-color: limegreen;
    background-image: url('/dist/images/loveit.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}