@font-face {
    font-family: 'dreamworks';
    src: url('/dist/fonts/DreamWorks.otf') format('opentype');
    font-style: normal;
}

@font-face {
    font-family: 'Kreon bold';
    src: url('/dist/fonts/Kreon-Bold.ttf') format('truetype'),
    url('/dist/fonts/kreon-bold-webfont.woff') format('woff'),
    url('/dist/fonts/kreon-bold-webfont.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}